body, html {
    padding: 0;
    margin: 0;
}

nav {
    display: block;
    width: 100%;
    margin: 0;
    padding: 10px 0;
}

#logo {
    display: inline-block;
    position: absolute;
    margin: 0 20px 0 130px;
}

nav ul {
    width: 40%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    padding-top: 5px;
}

nav ul li {
    display: block;
    float: left;
    width: 20%;
    text-align: center;
}

fieldset {
    width: 70%;
    margin: 20px auto;
    padding: 5px 30px 20px 30px;
}

fieldset.clt input{
    width: 40%;
}

fieldset.clt input:nth-child(4n+1){
    width: 25%;
}

fieldset.clt label{
    display: inline-block;
    width: 13%;
    margin: auto 10px;
}

div.score {
    position: relative;
    margin-left: 60px;
}
.score input[type="radio"] {
    opacity: 0;
    width: 20px;
	height: 20px;
	position: absolute;
    top: 5px;
	cursor: pointer;
    z-index: 100;
}

.score input[type="radio"] + span:before {
	content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    left: -3px;
    bottom: -6px;
    margin: 4px;
}

fieldset p {
    width: 95%;
    margin: 20px auto 10px auto;
}

fieldset textarea {
    display: block;
    margin: 20px auto 5px auto;
}

@media only screen and (max-width: 720px) {
    fieldset {
        display: block;
        padding: 20px 0;
        width: 100%;
    }

    fieldset.clt label {
        display: block;
        width: 50%;
    }

    fieldset.clt input {
        display: block;
        clear: left;
        width: 90%;
        margin: 0 auto;
    }

    fieldset.clt input:nth-child(4n+1){
    width: 90%;
    }

}

@media only screen and (orientation: landscape) {
    body {
        background-color: lightblue;
    }
}
