body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background-color: #58137b;
    color: #fff;
}

/*nav li {
    list-style: none;
}

nav li:hover{
    border-bottom: 1px solid #fff;
}*/

.dl-menu.dl-animate-out-1 {
	animation: MenuAnimOut1 0.4s linear forwards;
}

@keyframes MenuAnimOut1 {
	50% {
		transform: translateZ(-250px) rotateY(30deg);
	}
	75% {
		transform: translateZ(-372.5px) rotateY(15deg);
		opacity: .5;
	}
	100% {
		transform: translateZ(-500px) rotateY(0deg);
		opacity: 0;
	}
}

.dl-menu.dl-animate-in-1 {
	animation: MenuAnimIn1 0.3s linear forwards;
}

@keyframes MenuAnimIn1 {
	0% {
		transform: translateZ(-500px) rotateY(0deg);
		opacity: 0;
	}
	20% {
		transform: translateZ(-250px) rotateY(30deg);
		opacity: 0.5;
	}
	100% {
		transform: translateZ(0px) rotateY(0deg);
		opacity: 1;
	}
}

#logout {
    color: #fff;
    text-decoration: none;
    font-size: 36px;
}

fieldset {
    background-color: rgba(255,255,255,.8);
    border-radius: 15px;
    border: 1px solid #0090ff;
}

legend {
    background-color: #0090ff;
    border-radius: 10px;
    border: 1px solid #0090ff;
    padding: 2px 4px;
}

fieldset input {
    border: 1px solid #aaa;
    border-radius: 3px;
}

fieldset p {
    border-bottom: 1px solid #000;
}


//Configuration for mobile devices
@media only screen and (max-width: 720px) {
    body {
        background-image: url("../images/bg_mb.png");
    }
    fieldset {
        border: 0;
        border-top: 1px solid #0090ff;
        border-radius: 0;
    }
    
    #logout {
    font-size: 18px;
}
}

.score input[type="radio"] + span:before {
    background-color: #f5f5f5;
    border-radius: 10px;
    border: 1px solid #a51ba9;
}

div.score input[type="radio"]:checked:nth-child(9)+ span:before {
	background-color: #fff;
    border: 1px solid #36de2f;
    box-shadow: 0 0 0px 1px #36de2f inset;
}

div.score input[type="radio"]:checked:nth-child(7)+ span:before {
	background-color: #fff;
    border: 1px solid #b7f914;
    box-shadow: 0 0 0px 1px #b7f914 inset;
}

div.score input[type="radio"]:checked:nth-child(5)+ span:before {
	background-color: #fff;
    border: 1px solid #f6fb12;
    box-shadow: 0 0 0px 1px #f6fb12 inset;
}

div.score input[type="radio"]:checked:nth-child(3)+ span:before {
	background-color: #fff;
    border: 1px solid #fc9511;
    box-shadow: 0 0 0px 1px #fc9511 inset;
}

div.score input[type="radio"]:checked:first-child+ span:before {
	background-color: #fff;
    border: 1px solid #f02e1d;
    box-shadow: 0 0 0px 1px #f02e1d inset;
}
